<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BoxR</title>
        <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="author" content="Küzdi Tamás">
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        @Styles.Render("~/Content/bootstrap")
    </head>
    <body>
        <div id="backbutton"><img src="~/Images/metroback.png" width="35" height="35"/>back</div>
        <div class="container">
            <section>
                <div class="row">
                    @RenderBody()
                </div>
                <footer>
                    <p>Copyright © 2013 - Küzdi Tamás</p>
                    <div id="colors"></div>
                </footer>
            </section>
        </div>

        <div id="popup"></div>
        @Scripts.Render("~/bundles/init")
        @RenderSection("scripts", required: false)
    </body>
</html>