@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<section id="error">
    <table>
        <tr>
            <td>
                Bocsi
            </td>
        </tr>
    </table>
</section>

@section Scripts {
    @Styles.Render("~/Content/error")
}