ul.modepick {
    margin: 0 auto;
    padding: 0;
}
ul.modepick.fullview {
    width: 800px;
}

ul.modepick li {
    list-style: none;
    width: 100%;
    height: 200px;
    display: -ms-flexbox;
    -ms-flex-align: center;
    opacity: 0.7;
    cursor: pointer;
}

ul.modepick.fullview li {
    float: left;
    width: 380px;
}
ul.modepick.snapview li {
    margin-bottom: 20px;
}
ul.modepick li:hover {
    opacity: 1;
}

.btnsp {
	background-color: #1BA4E2;
    margin-right: 40px;
}

.btnmp {
	background-color: #e51400;
}

ul.modepick li a {
    text-decoration: none;
    color: white;
    font-size: 40pt;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
ul.modepick li a:hover {
    text-decoration: none;
    color: white;
}