/* kind of reset */
body {
    background-image: url(../Images/bg.png);
    background-position: top left;
    background-repeat: repeat;
    color: white;
    font-size: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
}
body > * {
    z-index: 1;
    font-size: 10pt;
    line-height: 25px;
}

/*back button*/
#backbutton {
    display: none;
    z-index: 3;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 32pt;
    vertical-align: central;
    font-family: 'Segoe UI Light';
}
#backbutton:hover {
    cursor: pointer;
    color: black;
}
/* bootstrap override */
.container {
    position: relative;
    z-index: 2;
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    height: 100%;
    width: 100%;
}
/*form */
.well {
    background: white;
    color: black;
    padding: 19px 19px 0 19px;
}

.btnfacebook {
    height: 35px;
    width: 102px !important;
    background: url('../Images/fbbutton35.png') 0 0 no-repeat;
    font-size: 0;
    cursor: pointer;
    display: inline-block;
    border:none;
}

.btnmicrosoft {
    background: url('../Images/micrososftlogin35.png') 0 0 no-repeat;
    height: 35px;
    font-size: 0;
    width: 123px  !important;
    cursor: pointer;
    display: inline-block;
    border: none;
}

.help-inline {
    margin-bottom: 10px !important;
    padding-left: 20px !important;
}
@media (min-width: 1200px){
    .help-inline {
        padding-left: 40px !important;
    }
}
span.errorMsg {
    display: block;
    color: red;
}
.btn-small {
    padding: 5px !important;
}

/*footer*/

footer {
    position: static;
    bottom: 0;
    width: 100%;
    font-size: 10pt;
    text-align: center;
}
footer p {
    margin: 0;
}

/* Colors on the bottom right */
#colors {
    z-index: 2;
}

/* Tiles  */
ul.thumbnails {
    margin-top: 15px;
}
.thumbnails > li {
    margin-bottom: 17px;
}
.thumbnails > li.tile{
	cursor: auto;
    width: 120px;
    height: 120px;
}

.thumbnails > li.tile.tile-blue{
	background-color: #1BA4E2;
}

.thumbnails > li.tile.tile-red{
	background-color: #e51400;
}

.thumbnails > li.tile > h2{
	margin-top: 10px;
    line-height: 30px;
    margin-bottom: 5px;
    background: inherit;
    padding-top: 2px;
}

a{
	color: black;
	text-decoration:none;
}

a:hover{
	color: #1BA4E2;
	text-decoration:none;
}

.noopacity {
    opacity: 1 !important;
}

.tile h1{
    font-size: 36pt;
}
/*text rules*/
.notranform {
    text-transform: none !important;
}
.text-centered {
    text-align: center;
}
.text-centered > *{
    float: none;
    margin: 0 auto;
}
/*** userlist ***/
#userList {
    height: 300px;
    overflow-y: auto;
}
.user {
    width: 80%;
    background: rgba(255,255,255,0.3);
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}
.user:hover {
    background: rgba(255,255,255,1);
    color: black;
    cursor: pointer;
}
/******** CSS POPUP *******/
#popupBackground
{
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    -moz-opacity: 0.65;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
#popupOuter {
    z-index: 2;
    display: table; 
    position: relative;
    width: 100%;
    height: 100%;
}

#popupMiddle {
    display: table-cell; 
    vertical-align: middle; 
    width: 100%; 
    position: static;
}

#popupInner
{
    position: relative;
    top: -50%;
    background: white;
    height: 150px;
    color: black;
    font-size: 16pt;
    text-align: center;
}
#popupInner p
{
    font-size: 16pt;
    padding-top: 25px;
    padding-bottom: 25px;
}
#popupInner .button
{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 10px;
}
#popupInner .button:hover {
    cursor: pointer;
}

#inner .accept
{
    background: #77B900;
}
#inner .deny
{
    background: #AD103C;
}

/*** other helper classes ***/
.truncate {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.truncate:hover {
    overflow: visible;
}