<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="18600TamasKuzdi.BoxR" Version="1.0.0.10" Publisher="CN=B3A87959-53F5-4E4A-ACA2-4B4F24BB4A58" />
  <Properties>
    <DisplayName>BoxR</DisplayName>
    <PublisherDisplayName>Tamas Kuzdi</PublisherDisplayName>
    <Logo>Images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="BoxR" Logo="Images\logo.png" SmallLogo="Images\smalllogo.png" Description="BoxR is an implementation of the game known as dots and boxes." ForegroundText="light" BackgroundColor="darkSlateBlue" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Images\widelogo.png" ShortName="BoxR" />
        <SplashScreen Image="Images\splashscreen.png" BackgroundColor="darkSlateBlue" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>