@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script src="~/Scripts/lib/jquery.signalR-1.0.1.min.js"></script>
    @Scripts.Render("~/bundles/game")
    <script src="~/signalr/hubs"></script>
}
<header id="header">
    <h1>BoxR</h1>
    <span>Üdvözöllek, @Context.User.Identity.Name !</span>
</header>
<div id="container">
    <div id="userListcontainer">
        <div id="userList"></div>
    </div>
</div>

<div id="blanket" style="display:none">
    <div id="bg"></div>
    <div id="outer">
        <div id="middle">
            <div id="inner">
                <section id="invitedPopup" style="display:none;">
                    <p><span id="inviterName" class="challenger"></span> has challanged you!</p>
                    <a class="accept button" href="#" onclick="BoxRHub.server.inviteAccepted();BoxRClient.ClosePopup();">Accept</a>
                    <a class="deny button" href="#" onclick="BoxRHub.server.inviteDenied();BoxRClient.ClosePopup();">Deny</a> 
                </section>
                <section id="waitPopup" style="display:none;">
                    <p>You have challanged <span id="invitedName" class="challenger"></span>. Please wait for his response!</p>
                    <a class="deny button" href="#" onclick="BoxRHub.server.inviteDenied();BoxRClient.ClosePopup();">Suspend invite</a> 
                </section>
                <section id="quitPopup" style="display:none;">
                    <p>Are you sure? By quiting the game, your opponent will win.</p>
                    <a class="deny button" href="#" onclick="location.reload(true)">Quit</a> 
                    <a class="accept button" href="#" onclick="BoxRClient.ClosePopup()">Cancel</a> 
                </section>
                <section id="disconnectPopup" style="display:none;">
                    <p>Your opponent has quit the game.</p>
                    <a class="accept button" href="#" onclick="location.reload(true)">OK</a> 
                </section>
                <section id="winPopup" style="display:none;">
                    <p>Congratulation, you have won the game!</p>
                    <a class="accept button" href="#" onclick="location.reload(true)">OK</a> 
                </section>
                <section id="losePopup" style="display:none;">
                    <p>You have just lost the game.</p>
                    <a class="deny button" href="#" onclick="location.reload(true)">OK</a> 
                </section>
            </div>
        </div>
    </div>
</div>

<div id="quitGame" style="display: none">
    <div class="inner">
        <a href="#" onclick="quit_popup()">Kilépés</a>
    </div>
</div>

<div id="logoff">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Kijelentkezés</a>
        }
    }
</div>
<script>
    $(function () {
        "use strict";
        window.BoxRHub = $.connection.game;

        window.BoxRClient = new BoxR.WebClient();
        window.BoxRServer = new BoxR.Server(BoxRHub, BoxRClient);
        BoxRClient.SetServer(BoxRServer);

        $.connection.hub.start().done(function () {
            BoxRServer.UpdateUsers();
        });
    });
</script>