@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script src="~/Scripts/lib/jquery.signalR-1.0.0-rc2.min.js"></script>
    @Scripts.Render("~/bundles/game")
    <script src="~/signalr/hubs"></script>
}
<header>
    <h1>BoxR</h1>
    <span>Üdvözöllek, @Context.User.Identity.Name !</span>
</header>
<div id="container">
    <div id="userListcontainer">
        <div id="userList"></div>
    </div>
</div>

<div id="blanket" style="display:none">
    <div id="bg"></div>
    <div id="outer">
        <div id="middle">
            <div id="inner">
                <section class="invited" style="display:none;">
                    <p>Figyelem! <span class="challenger"></span> kihívott téged. Elfogadod?</p>
                    <a class="accept button" href="#" onclick="gameHub.server.inviteAccepted();close_popup();">Igen</a>
                    <a class="deny button" href="#" onclick="gameHub.server.inviteDenied();close_popup();">Nem</a> 
                </section>
                <section class="wait" style="display:none;">
                    <p>Kihívtad <span class="challenger"></span> játékost. Kérlek várj a visszajelzésére!</p>
                    <a class="deny button" href="#" onclick="gameHub.server.inviteDenied();close_popup();">Nem</a> 
                </section>
                <section class="quit" style="display:none;">
                    <p>Biztosan kilépsz? Ezzel elveszíted a játékot.</p>
                    <a class="deny button" href="#" onclick="location.reload(true)">Igen</a> 
                    <a class="accept button" href="#" onclick="close_popup()">Nem</a> 
                </section>
                <section class="disconnect" style="display:none;">
                    <p>Sajnálom, az ellenfeled kilépett a játékból.</p>
                    <a class="accept button" href="#" onclick="location.reload(true)">OK</a> 
                </section>
                <section class="win" style="display:none;">
                    <p>Gratulálok, nyertél!</p>
                    <a class="accept button" href="#" onclick="location.reload(true)">OK</a> 
                </section>
                <section class="lose" style="display:none;">
                    <p>Sajnálom, vesztettél.</p>
                    <a class="deny button" href="#" onclick="location.reload(true)">OK</a> 
                </section>
            </div>
        </div>
    </div>
</div>

<div id="quitGame" style="display: none">
    <div class="inner">
        <a href="#" onclick="quit_popup()">Kilépés</a>
    </div>
</div>

<div id="logoff">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Kijelentkezés</a>
        }
    }
</div>