@section scripts
{
    @Scripts.Render("~/bundles/game")
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            "use strict";
            BoxR.Manager.Hub = $.connection.game;

            BoxR.Manager.Client = new BoxR.WebClient();
            BoxR.Manager.Server = new BoxR.Server();

            $.connection.hub.start().done(function () {
                BoxR.Manager.Server.UpdateUsers();
            });
            var $backbutton = $('#backbutton');
            if ($backbutton) {
                $backbutton.click(function () {
                    document.location.href = "/";
                    $('#logoutForm').submit();
                });
                $backbutton.show();
            }
        });
    </script>
}
<div class="span12">
    <div class="row text-centered">
        <div class="span4">
            <img src="/Images/header_widelogo.png" alt="BoxR">
            Welcome, @Context.User.Identity.Name !
        </div>
    </div>
    <div class="row" id="innerContainer">
        <div class="span4" >
            <div id="userListcontainer">
                <h2>Online players</h2>
                <div id="userList"></div>
            </div>
        </div>
        <div class="span4">
            <header>
                <h2>how to play</h2>
            </header>
            <p>
                Starting with an empty grid of dots, players take turns, adding a single horizontal or vertical line between two unjoined adjacent dots. A player who completes the fourth side of a 1×1 box earns one point and takes another turn. (The points are typically recorded by placing in the box an identifying mark of the player, such as an initial). The game ends when no more lines can be placed. The winner of the game is the player with the most points.
            </p>
        </div>
        <div class="span4">
            <header>
                <h2>about</h2>
            </header>
            <p>
                Dots and Boxes (also known as Boxes, Squares, Paddocks, Pigs in a Pen, Square-it, Dots and Dashes, Dots, Smart Dots, Dot Boxing, or, simply, the Dot Game) is a pencil and paper game for two players (or sometimes, more than two) first published in 1889 by Édouard Lucas.
            </p>
            <p>
                BoxR is an Open Source project available in <a href="https://github.com/kuzditomi/BoxR/tree/developer">GitHub</a>. If you have Windows8 installed, you can get the application free from <a href="http://apps.microsoft.com/windows/en-us/app/box/5183c685-a8ee-4b9e-b716-9509ebde9a52">Windows Store</a>.
            </p>
            <p>
                Special thanks to <a href="http://gyorgybalassy.wordpress.com/">György Balássy</a> for technical support, and Zoltán Belicza for UI support.
            </p>
        </div>
    </div>
 </div>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
}