@model BoxR.Web.Models.GameModel

<div id="container">
    <canvas id="gameCanvas" width="@Model.CanvasWidth" height="@Model.CanvasWidth"></canvas>
    <aside>
        <div class="selfcounter">
            <div>
                <div class="selfname">@Model.Name</div>
            </div>
            <div class="selfscore" id="selfscore">0</div> 
            <img src="~/Images/blueturn.png" width="0" height="120" id="blueturn" />
        </div>
    </aside>
    <aside>
        <div class="opponentcounter">
            <div>
                <div class="opponentname">@Model.OpponentName</div>
            </div><div class="opponentscore" id="opponentscore">0</div>
            <img src="~/Images/redturn.png" width="0" height="120" id="redturn"/>
        </div>
    </aside>
</div>