#container {
    display: -ms-grid;
    -ms-grid-columns: 530px 260px 430px;
    -ms-grid-rows: 1fr;
    margin: 0 auto;
}

.fullview #canvas-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    margin-left: 30px;
}
.fullview #score-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin-left: 30px;
    margin-right: 30px;
    
    text-align: center;
}
.fullview #text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    margin-right: 30px;
}

ul.scores {
    margin: 0;
    padding: 0;
}
.fullview ul.scores li{
    width: 180px;
    height: 180px;
    list-style: none;
    float: left;
    margin: 10px;
}

ul.scores li h1,ul.scores li h2 {
    text-align: center;
    display: block;
    vertical-align: middle;
}
ul.scores li h2 {
    margin-top: 40px;
}

.tile-blue {
	background-color: #1BA4E2;
}
.tile-red {
	background-color: #e51400;
}

/*snapview*/
.snapview #canvas-container, .snapview #score-container,.snapview #text-container {
    display: block;
    margin: 0 10px;
}
.snapview #container {
    display: block;
    position: relative;
}
.snapview ul.scores li {
    list-style: none;
    width: 145px;
    height: 145px;
    display: inline-block;
}
.snapview ul.scores li h2 {
    font-size: 32pt;
    margin-top: 10px;
}
.snapview ul.scores li h1 {
    font-size: 40pt;
}
.snapview ul.scores {
    margin: 0 auto;
}
.snapview h1.notranform {
    display: none;
}
.snapview header h2 {
    margin-top: 20px;
    font-size: 24pt;
}