.thumbnails > li.tile{
	cursor: auto;
}

.thumbnails > li.tile.tile-blue {
	opacity: 1;
	background-color: #1BA4E2;
}

.thumbnails > li.tile.tile-red {
	opacity: 1;
	background-color: #e51400;
}

.thumbnails > li.tile > h2{
	margin-top: -10px;
}

a{
	color: black;
	text-decoration:none;
}

a:hover{
	color: #1BA4E2;
	text-decoration:none;
}

/******** CSS POPUP *******/
#popupBackground
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    -moz-opacity: 0.65;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
#popupOuter {
    display: table; 
    position: static;
    width: 100%;
    height: 100%;
}

#popupMiddle {
    display: table-cell; 
    vertical-align: middle; 
    width: 100%; 
    position: static;
}

#popupInner
{
    position: relative;
    top: -50%;
    background: white;
    height: 150px;
    color: black;
    font-size: 16pt;
    text-align: center;
}
#popupInner p
{
    padding-top: 25px;
    padding-bottom: 25px;
}
#popupInner .button
{
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 10px;
}
#popupInner .button:hover {
    cursor: pointer;
}

#inner .accept
{
    background: #77B900;
}
#inner .deny
{
    background: #AD103C;
}