
/*** userlist ***/
#userList {
    height: 300px;
    overflow-y: auto;
}
.user {
    width: 80%;
    background: rgba(255,255,255,0.3);
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}
.user:hover {
    background: rgba(255,255,255,1);
    color: black;
    cursor: pointer;
}