@using BoxR.Web.Managers
@model BoxR.Web.Models.AccountModel
@section scripts
{
    <script src="/js/login.js" defer></script>
}
<div class="span12">
    <div class="row text-centered">
        <div class="span4">
            <img src="/Images/header_widelogo.png" alt="BoxR">
        </div>
    </div>
    <div class="row">
        <div class="span6" >
            @Html.Partial("LoginPartial",Model.LoginModel)
        </div>
        <div class="span6" >
            @Html.Partial("RegisterPartial",Model.RegisterModel)
        </div>
    </div>
 </div>