#container {
    display: -ms-grid;
    -ms-grid-columns: 530px 260px 430px;
    -ms-grid-rows: 1fr;
    margin: 0 auto;
}

#canvas-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    margin-left: 30px;
}
.fullview #score-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin-left: 30px;
    margin-right: 30px;
    
    text-align: center;
}
#text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    margin-right: 30px;
}
ul.scores {
    margin: 0;
    padding: 0;
}
.fullview ul.scores li{
    width: 140px;
    height: 140px;
    list-style: none;
    float: left;
    margin: 10px;
}

ul.scores li h1,ul.scores li h2 {
    text-align: center;
    display: block;
    vertical-align: middle;
}
ul.scores li h2 {
    margin-top: 20px;
}

.tile-blue {
	background-color: #1BA4E2;
}
.tile-red {
	background-color: #e51400;
}

.truncate {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: inherit;
}
.truncate:hover {
    overflow: visible;
}
/*snapview*/
.snapview #container {
    display: block;
    position: relative;
}
.snapview #container #canvas-container,
.snapview #container #score-container,
.snapview #container #text-container {
    margin-left: 10px;
    margin-right: 10px;
}
.snapview ul.scores li {
    float: none;
    display: inline-block;
    width: 145px;
    height: 145px;
}

.snapview #container #turnDiv {
    display: block;
    width: 292px;
    margin-top: 2px;
}

.snapview #container ul.scores li h2 {
    padding-top: 25px;
    font-size: 18pt;
    margin-top: 0;
}
.snapview #container ul.scores li h1 {
    font-size: 40pt;
}
.snapview #turnDiv h1{
    margin: 0;
    padding: 0;
}
.snapview #turnDiv h2 {
    margin-top: 40px;
    font-size: 40pt;
}