* {
     margin:0; 
     padding:0;
}
body{
    background: darkslateblue;
    color: white;
    font-family: 'Segoe UI Light';
    overflow: no-content;
}
input {
    font-family: 'Segoe UI Light';
}
.btn {
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 14pt;
    background: white;
    color: slateblue;
}
.btn:hover {
    background: #B9B9D9;
    color: white;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    height: 100px;
    width:auto;
    text-align: center;
}
#left{
    position:absolute;
    left: 0;
    top: 100px;
    width: 240px;
    height: 400px;   
}
#main{
    position: absolute;
    left: 300px;
    right: 30px;
    top: 160px;
    height: 600px;
}
canvas {
    background: slateblue;
}

header h1{
    font-weight: normal;
    font-size: 40pt;
    margin: 25px 0 10px 0;
}

/******** Logout form ********/
#logoff {
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    color: darkslateblue;
    z-index:10;
}
#logoutForm {
    margin: 15px;
}
#logoutForm a {
    text-decoration: none;
}
/********** Quit game box ****************/
#quitGame {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    color: darkslateblue;
    z-index:10;
}
#quitGame .inner {
    margin: 15px;
}
#quitGame .inner a{
    text-decoration: none;
}
/******* Footer *******/
footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 12pt;
    width: 100%;
}
/******** User List (Index) ********/
#container {
    height: 400px;
    margin: 150px auto 0 auto;
    text-align: center;
}
#userListcontainer {
    width: 400px;
    margin: 0 auto;
    background: white;
    border: 1px solid black;
    color: darkslateblue;
    height: 450px;
}
#userList {
    overflow-y: auto;
    height: 420px;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.user {
    font-size: 16pt;
    width: 300px;
    margin: 10px auto;
    background: darkslateblue;
    color: white;
}

div.user:hover{
    background: slateblue;
    cursor: pointer;
}

div.user span {
    display: block;
    padding: 7px;
}
/********* game **********/
#roundcounter {
    font-size: 20pt;
    color: red;   
}
aside {
    width: 120px;
    height: 120px;
    color: white;
    text-align: center;
}

aside.selfcounter {
    position: absolute;
    left: 20px;
    top: 150px;
    background: #1BA1E2;
}

aside.opponentcounter {
    position: absolute;
    right: 20px;
    top: 150px;
    background: #E51400;
}

.selfscore, .opponentscore {
    font-size: 40pt;
}

.selfname, .opponentname {
    font-size: 16pt;
    margin-top: 10px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/****** Howto box **********/
.howtoplay {
    position: absolute;
    left: 20px;
    top: 300px;
    background: #1BA1E2;
    width: 300px;
    height: 300px;
}

.howtoplay .title {
    padding: 10px 0;
}
.howtoplay ul {
    list-style-type:none;
}

.howtoplay ul li {
    display:inline-block;
}

.howtoplay ul li a {
    display: block;
    width: 100px;
    text-decoration: none;
    padding: 10px 0;
    background: white;
    color: #1BA1E2;
}
.howtoplay ul li a:hover {
    color: white;
    background: #2CB2F3;
}
/******** CSS POPUP *******/
#blanket{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:11;
}
#bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    -moz-opacity: 0.65;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
#outer {height: 100%;width:100%; overflow: hidden; position: relative;}
#outer[id] {display: table; position: static;}

#middle {position: absolute; top: 50%;} /* for quirk explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static;}

#inner
{
    position: relative;
    top: -50%;
    background: white;
    height: 150px;
    color: black;
    font-size: 16pt;
    text-align: center;
}
    #inner p
    {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #inner .button
    {
        color: white;
        text-decoration: none;
        padding: 5px 15px;
        margin: 0 10px;
    }
    #inner .challenger
    {
        color: #E51400;
    }
    #inner .accept
    {
        background: #77B900;
    }
    #inner .deny
    {
        background: #AD103C;
    }
/****** Error *****/
.error {
    color: red;
}